@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            <a href="/.auth/login/aad?post_login_redirect_uri=/">Login</a>
            <a href="/.auth/logout?post_logout_redirect_uri=%2F">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
