@page "/"
@inject IConfiguration Config

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (useAuthDetails == true)
{
    <AuthDetails @rendermode="RenderMode.InteractiveServer" />
}

@code
{
    private bool useAuthDetails;

    protected override async Task OnInitializedAsync()
    {
        useAuthDetails = bool.TryParse(Config["USE_AUTH_DETAILS"], out var result) && result;

        await Task.CompletedTask;
    }
}
